.showContent {
    visibility: visible;
}

.hideContent {
    visibility: hidden;
}

.content-wrapper {
    background-color: whitesmoke;
    padding: 45px;
    margin-top: -22px;
    border-radius: 4px;
    font-size: 2em;
}